<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ch.epfl.sdp.blindwar">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <queries>
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_base"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round_base"
        android:supportsRtl="true"
        android:theme="@style/Theme.BlindWar"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup">
        <activity
            android:name=".login.SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:host="blindwar.page.link"
                    android:pathPrefix="/game"
                    android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".game.util.GameActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".game.solo.TutorialActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".game.multi.MultiPlayerMenuActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".game.multi.ChoseNumberOfPlayerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".profile.HistoryActivity"
            android:parentActivityName=".profile.fragments.ProfileFragment"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".profile.fragments.StatisticsActivity"
            android:parentActivityName=".profile.fragments.ProfileFragment"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".menu.MainMenuActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>